.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  font-family: "Poppins", sans-serif;
}

.hero__title {
  font-size: 3em;
  color: var(--clr-white);
}
.hero__description {
  color: var(--clr-white);
  line-height: 1.8;
  font-size: 1.2em;
}
.btn {
  background-color: var(--clr-white);
  padding: 1em 4em;
  border-radius: 100em;
  border: 0;
  outline: 0;
  color: var(--clr-primary);
  font-size: 2rem;
  margin-top: 2rem;
  cursor: pointer;
}
.btn:active,
.btn:hover {
  background-color: var(--clr-secondary);
  color: var(--clr-white);
}
@media (max-width: 900px) {
  .main {
    width: 87%;
    margin: 0 auto;
  }
  .main__left {
    align-self: center;
  }
}
@media (max-width: 600px) {
  .main {
    display: block;
    text-align: center;
  }
}
