@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins&display=swap");

:root {
  --clr-primary: hsl(257, 40%, 49%);
  --clr-secondary: hsl(300, 69%, 71%);
  --clr-white: hsl(0, 0%, 100%);
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.5rem;
  background-image: url("./assets/bg-desktop.svg");
  background-repeat: no-repeat;
  background-color: var(--clr-primary);
  background-size: cover;
  min-height: 100dvh;
  background-position: center;
  max-width: 1100px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}
